.homePageContainer{
 padding: 2rem;
}
.homePageContainer h5{
  /* text-align: center; */
  text-transform: capitalize;
}
.homePageContainer button{
float: right;
}
.homeTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeTitle h1{
  margin-right: 10px;
}
.subTitle{
  text-align: center;
}
.inputContainer{
  max-width: 800px;
}